{
  "presets": ["es2015","react"],
  "plugins": [
    [
      "react-intl", 
      {
        "messagesDir": "./extracted-messages/",
        "enforceDescriptions": true
      }
    ],
    [
      "import", 
      { 
        libraryName: "antd",
        style: "css"
      }
    ]
  ]
}
